!!!
html
  head
    block head
      title Protoduction - #{title}
      link(rel="stylesheet", href="/bootstrap.css")
      link(rel="stylesheet", href="/style/main.css")
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Protoduction
    .container
      block content
    include include/forkongithub.html

